.genre {
    color: red;
}
.kuchikomi {
    color: 	darkorange;
}
.midasi {
    font-family: "Kokoro";
}
body {
	background: linear-gradient(lightblue, moccasin);
}
.googlemap {
    padding: 1em 1.5em;
    margin: 2em 0;
    border:1px solid #84c1ff;/*枠線*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);/*影*/
    color:#000000;/*文字色*/
}

.kuchikomi_resurts {
    padding: 1em 1.5em;
    margin: 2em 0;
    border:1px solid #9370db;/*線*/
    border-radius: 10px;/*角の丸み*/
}